.App {
  text-align: center;
}

.total-connections {
  display: flex;
  align-self: center;
  justify-content: center;

  width: 100%;

  position: absolute;
  bottom: 40px;

  font-size: 2.0rem;
  font-weight: 700;
  color: #FFF;
}
